<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Backend::config_smile_retailersuite_retailer_base_settings" title="Manage Smile RetailerSuite retailer base settings"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Smile_Seller::sellers">
                    <resource id="Smile_Retailer::retailers">
                        <resource id="Smile_RetailerOffer::retailer_offers" title="Manage Retailer Offers"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
