<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smile_retailersuite_retailer_base_settings>
            <navigation_settings>
                <navigation_mode>0</navigation_mode>
                <display_offers>1</display_offers>
            </navigation_settings>
            <search>
                <placeholder>City, Zipcode, Address ...</placeholder>
            </search>
        </smile_retailersuite_retailer_base_settings>
    </default>
</config>
