<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_collection_products_after_load">
        <observer name="offer-availability" instance="Smile\RetailerOffer\Observer\RemoveUnavailableProducts"/>
    </event>
</config>
