<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Manage Retailer Offers -->
        <add id="Smile_RetailerOffer::retailer_offers"
             title="Retailer Offers"
             translate="title"
             module="Smile_RetailerOffer"
             sortOrder="20"
             parent="Smile_Retailer::retailers_menu"
             action="smile_retailer/offer"
             resource="Smile_RetailerOffer::retailer_offers"/>
    </menu>
</config>
